html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: #E6EBE0;
}

#container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(16, 40px);
  grid-template-rows: repeat(16, 40px);
  justify-content: center;
  align-content: center;
}