html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: #E6EBE0;
}

#container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}