*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #e6ebe0;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 100px;
}

#container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  width: 50%;
}

header h1 {
  margin: 50px 0 50px 0;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  color: #5ca4a9;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 160px;
}

.btn-group > *:hover {
  background-color: #9bc1bc;
  cursor: pointer;
}

.btn-group > * {
  width: 8em;
  border: none;
  background-color: #5ca4a9;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 15px 25px 15px 25px;
}

#playground {
  display: grid;
  grid-template-columns: repeat(16, 35px);
  grid-template-rows: repeat(16, 35px);
  justify-content: center;
  align-content: center;
  box-shadow: 0px 5px 5px #838383;
  /* border: 4px #ed6a5a solid; */
}

footer h4 {
  color: #ed6a5a;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0 0 10px 0;
  font-size: 20px;
}
